- if signed_in?
  .row
    %aside.span4
      %section
        = render 'shared/user_info'
      %section
        = render 'shared/stats'
      %section
        = render 'shared/micropost_form'
      .accordion#accordion2
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{'data-toggle' => :collapse, 'data-parent' => '#accordion2', :href => '#collapseOne'}
              %h3 Received Replies
          .accordion-body.collapse.in#collapseOne        
            .accordion-inner
              %section
                .pagination#replies
                  = render 'shared/received_replies'
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{'data-toggle' => :collapse, 'data-parent' => '#accordion2', :href => '#collapseTwo'}
              %h3 Direct Messages
          .accordion-body.collapse#collapseTwo
            .accordion-inner
              %section
                .pagination#messages
                  = render 'shared/messages'
    .span8
      .pagination#feed
        %h3 Micropost Feed
        = render 'shared/feed'
- else
  .center.hero-unit
    %h1 Welcome to the Sample App
    %h2
      This is the home page for the
      %a{:href => "http://railstutorial.org/"} Ruby on Rails Tutorial
      sample application.
    = link_to "Sign up now!", signup_path, |
      class: "btn btn-large btn-primary"   |
  = link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'
