<li id="<%= message_item.id %>">
	<%= link_to gravatar_for(message_item.user), message_item.user %>
		<span class="user">
			<%= link_to message_item.user.name, message_item.user %>
		</span>
		<span class="content"><%= message_item.content %></span>
		<span class="timestamp">
			Delivered <%= time_ago_in_words(message_item.created_at) %> ago.
		</span>
</li>
